<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    #Aqui comienza restriccion de archivos
    <files bower.json>
      order allow,deny
      deny from all
    </files>
    <files robots.txt>
      order allow,deny
      deny from all
    </files>
    <files web.config>
      order allow,deny
      deny from all
    </files>
    <files sitemap.xml>
      order allow,deny
      deny from all
    </files>
</IfModule>
